* {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black;
    text-align: center;
    padding: 5px;
    background-color:;
}

.top-bar {
    padding: 10px;
}

.time-display {
    float: right;
}

.finals-score-screen {
    float: left;
}

.display {
    display: none;
  } 
  
.quiz-container {
    margin: 200px auto 0 auto;
    max-width: 500px;
}

button {
    background-color: rgb(92, 0, 167);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.options button {
    display: block;
    flex-direction: row;
    background-color: rgb(92, 0, 167);
    color: white;
    cursor: pointer;
    padding: 15px 15px;
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#initials {
    border: 1px solid #000;
}

#scores {
    flex-direction: column;
    text-align: center;
}

.center { 
    text-align: center; 
    list-style-position:inside;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}